:root {
    --theme-color: #101820;
    --theme-secondary: seagreen;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: 20% auto;
    grid-auto-rows: auto;
    background-color: rgba(0, 0, 0, 0.1);
    min-width: 900px;
    width: 100%;
}

.main-container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.material-symbols-outlined {
    cursor: pointer;
    transition: 0.1s ease-in-out;
    user-select: none;
}

.material-symbols-outlined:active {
    transform: scale(0.95);
}

::-webkit-scrollbar {
    width: 10px; 
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
  
::-webkit-scrollbar-track {
    background: #ccc;
}

* {
    scrollbar-color: #888 #ccc;   /*Firefox*/
}

p {
    color: dimgrey;
}

.section-heading {
    font-size: 1.5rem;
    font-weight: bold;
}


/*Sidebar*/

.sidebar {
    grid-column: 1 / 2;
    grid-row: auto;
    background-color: var(--theme-color);
    color: white;
    padding: 25px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: 100vh;
    position: fixed;
    width: 20.1%;
    gap: 20px;
    min-width: 185px;
}

.material-symbols-outlined.sidebar-icons {
    font-size: 1.62rem;
}

a {
    color: white;
    text-decoration: none;
}

.sidebar-links {
    display: flex;
    align-items: center;
}

.sidebar-links:hover {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

#dashboard {
    font-size: 2.18rem;
    display: flex;
    align-items: center;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

#dashboard-icon {
    font-size: 1.88rem;
}

#links-main {
    display: flex;
    flex-direction: column;
    font-size: 1.31rem;
    justify-content: center;
    line-height: 50px;
    position: sticky;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

#links-support {
    display: flex;
    flex-direction: column;
    font-size: 1.31rem;
    line-height: 50px;
}


/*MAIN*/

/*Header*/

header {
    background-color: white;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

#greeting-image {
    height: 75px;
    width: 75px;
    border-radius: 50px;
}

#account-image {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

#account-image:active {
    transform: scale(0.95);
}

.search {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 0.5fr 9fr;
}

.search-bar {
    height: 20px;
    background-color: gainsboro;
    border: none;
    border-radius: 50px;
    height: 30px;
    padding-left: 10px;
}

.search-bar:focus {
    outline: 2px solid var(--theme-secondary);
}

.account {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 10px;
}

#account-name {
    font-size: 1.05rem;
    font-weight: bold;
}

#greeting-name {
    font-size: 1.3rem;
}

.greeting {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
}

#hitheremorgan {
    font-size: 1.69rem;
    font-weight: bold;
}

.header-buttons {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

button {
    height: 35px;
    width: 80%;
    border-radius: 50px;
    color: white;
    background-color: var(--theme-color);
    border: none;
    font-size: 1.13rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:active {
    transform: scale(0.95);
}